{% extends 'base.html.twig' %}


        {% block body %}
                <h1>{{ number }} {{ title }}</h1>
                {% set lines = verses |split('Verse') %}
                {% for line in lines %}
                        {#{% if  line%}#}
                        <p>{{ line }}</p>
                {% endfor %}

        {% endblock %}



