{% extends 'base.html.twig' %}


        {% block body %}
                <div class="navigation">
                        {{ knp_pagination_render(results) }}
                </div>

            {% for result in results %}
                <li>{{ result.word }}</li>
            {%  endfor %}






        {% endblock %}

{% block javascripts %}
        {{ parent() }}
        <script src="{{  asset('js/hymn_show.js') }}"></script>
{%  endblock %}