body {
    background: url("https://www.planwallpaper.com/static/images/Nature-Background-Wallpapers-8_gxwmqmj.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}

.bibleverse {

    font-size: 5vw;
    color: white;
}

.bibleverse-container {

    padding: 70px 0;
    text-align: center;

}
