{% extends 'base.html.twig' %}

{% block title %}New Da{% endblock %}

{% block body %}
    <h1>Create new Da</h1>

    {{ include('egw_da/_form.html.twig') }}

    <a href="{{ path('egw_da_index') }}">back to list</a>
{% endblock %}
