{% extends 'base.html.twig' %}


        {% block body %}

        <ol>
            {% for video in videos %}
                <li><a href="video/{{ video.id }}/{{ video.title }}/{{video.preacher}}">{{ video.title }}</a></li>
            {%  endfor %}
        </ol>

        {% endblock %}



