{% extends 'base.html.twig' %}

{% block title %}Edit Books{% endblock %}

{% block body %}
    <h1>Edit Books</h1>

    {{ include('egw_books/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('egw_books_index') }}">back to list</a>

    {{ include('egw_books/_delete_form.html.twig') }}
{% endblock %}
