{% extends 'base.html.twig' %}

{% block title %}New Books{% endblock %}

{% block body %}
    <h1>Create new Books</h1>

    {{ include('egw_books/_form.html.twig') }}

    <a href="{{ path('egw_books_index') }}">back to list</a>
{% endblock %}
